.text-language{
    display: none;
  }
  
  .language-selector {
    display: flex;
    margin: 0px 20px;
  }
  
  .btn-language {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn-language:hover {
    background-color: #ddd;
  }
  
  .active {
    background-color: #007bff;
    color: #fff;
  }

  @media (max-width: 768px) {
    .text-language{
      display: block;
    }
  }