// Variables para el Tema Claro
$primary-color-light: #007BFF;
$secondary-color-light: #6C757D;
$accent-color-light: #28A745;
$background-color-light: #FFFFFF;
$text-color-light: #333333;
$border-color-light: #CCCCCC;

// Variables para el Tema Oscuro
$primary-color-dark: #375a7f;
$secondary-color-dark: #6C757D;
$accent-color-dark: #238636;
$background-color-dark: #333333;
$text-color-dark: #FFFFFF;
$border-color-dark: #555555;

$dark-background: #333;
$light-shadow: rgba(255, 255, 255, 0.1);
$dark-shadow: rgba(0, 0, 0, 0.2);
$yellow-glow: rgba(255, 255, 0, 0.5);



// Define tus variables CSS custom properties para ambos temas
:root {
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
  --accent-color: #28A745;
  --background-color: #FFFFFF;
  --text-color: #333333;
  --border-color: #CCCCCC;
}
// .dark-mode {
//     --primary-color: var(--primary-color-dark);
//     --accent-color: var(--accent-color-dark);
//     --background-color: var(--background-color-dark);
//     --text-color: var(--text-color-dark);
//     --border-color: var(--border-color-dark);
//     /* Resto de tu código */
//   }