@import "../../styles/variables.scss";

.container-contact{
    transition: background-color 0.5s ease; 
    background-color: $background-color-light;
}



.dark-mode{
    .container-contact{
    transition: background-color 0.5s ease; 
    background-color: $background-color-dark;
    }
}