@import '../../styles/variables.scss';

.nav {
 position: fixed; /* Establece la posición fija */
  top: 0; /* La fija en la parte superior */
  width: 100%; /* La hace ocupar el ancho completo de la ventana */
  z-index: 1000000; /* Asegura que esté por encima de otros elementos */
  transition: background-color 0.5s ease; 
  background-color: $background-color-light; /* Utiliza la variable Sass */
  color: $text-color-light; /* Utiliza la variable Sass */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  .logo {
    font-size: 1.5rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      flex-grow: 1;

      a {
        color: $text-color-light; /* Utiliza la variable Sass */
        text-decoration: none;
        padding: 0.5rem 1rem;
        &:hover,
        &.active {
          background-color: #0d6efd;
        }
      }
    }
  }
  .close-button{
    display: none;
  }
}

.dark-mode {
  .nav{
    transition: background-color 0.5s ease; 
    background-color: $background-color-dark; /* Utiliza la variable Sass */
    color: $text-color-dark ; /* Utiliza la variable Sass */
    /* Resto de tu código */
    li{
      a{
        color: $text-color-dark ;
      } 
    } 
  }
  
}

.toggle-button{
  display: none;
}





//TODO cambios de resoluciones
@media (max-width: 768px) {

  .container-links{
    height: 100vh;
    background-color: red;
  }


  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%; // Oculta la barra lateral al inicio
    flex-direction: column;
    width: 70%; // Ancho de la barra lateral en pantallas pequeñas
    height: 100vh; // Altura completa de la pantalla
    transition: background-color 0.5s ease !important; 
    background-color: $background-color-light; // Color de fondo
    transition: left 0.3s ease;
    box-shadow: 0 0 20px $dark-shadow; // Sombra del borde derecho
  }
 

  .nav .nav-links.visible {
    left: 0; // Muestra la barra lateral al moverla a la posición inicial
  }
  .nav ul li {
     flex-grow: 0; 
}
  .nav li{
    margin: 20px auto;
  }
  .nav .toggle-button {
    display: block; // Muestra el botón de alternancia en pantallas pequeñas
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: $text-color-light;
    cursor: pointer;
    z-index: 1001; // Asegura que esté por encima de la barra lateral

  }
  .nav .close-button{
    display: block; // Muestra el botón de alternancia en pantallas pequeñas
    position: absolute;
    top: 10px; /* Distancia desde la parte superior */
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  // .nav .text-language{
  //   display: block;
  // }
  
  
  .dark-mode {
    .nav .nav-links{
      transition: background-color 0.5s ease; 
      background-color:  $background-color-dark; 
      box-shadow: 0 0 20px $yellow-glow;
    }
    .nav .toggle-button{
      color: $text-color-dark;
    }
    
  }
}

